/* Estilo del Footer */
.footer {
    background-image: url('../fotos/ola.png'); /* Reemplaza con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    padding: 90px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilo de la imagen en el footer */
.footer-image img {
    width: 100%;
    height: 40vh;
    max-width: 400px; /* Ajusta el tamaño máximo de la imagen */
    margin-bottom: 20px;
}

/* Contenedor de los iconos */
.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; /* Espacio entre los íconos */
}

.social-icons a {
    color: #21596c;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center; /* Asegura que el ícono y el texto estén alineados */
}

.social-icons a:hover {
    color: #f08c24;
}

.social-icons ion-icon {
    margin-right: 8px;
    font-size: 20px;
}

/* Estilo del texto en el footer */
.footer p {
    font-size: 14px;
    margin-top: 20px;
    color: #21596c;
}
