* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    padding: 28px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #12addb;
    transition: background-color 0.3s ease;
    z-index: 100;
}

.header-center{
    padding-right: 620px;
    align-items: center;
    align-content: center;
    text-align: center;
}

.header-left img {
    height: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.dropdown-arrow {
    margin-left: 5px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.dropdown-arrow i {
    font-size: 12px; 
    color: #ffffff;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
    
}

nav ul li:hover .dropdown-menu {
    display: block;
}

nav ul li .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

nav ul li .dropdown-menu li a {
    padding: 10px;
    color: #333;
}

nav ul li:hover .dropdown-arrow {
    transform: rotate(180deg);
    /* Rota la flecha hacia arriba */
}

nav ul li .dropdown-menu li a:hover {
    background-color: #f2f2f2;
}

.header-right button {
    font-style: bold;
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 13px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.header-right button:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(255, 0, 0, 0.2);
}

.btn-register {
    background-color: #ffffff;
    color: #12addb;
    border-color: #FFF;
    border-radius: 25px;
    transition: background-color 1s, color 1s;
    
}

.btn-login {
    background-color: #12addb;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: 2px solid; /* Define el grosor y el estilo del outline */
    outline-color: rgb(255, 255, 255); /* Especifica el color del outline */
    transition: background-color 1s, color 1s, outline-color 1s;
}