/* Segunda Sección con las tres columnas */
.columns-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;  /* Ajustado el gap para que haya un poco de espacio entre las columnas */
    padding: 40px 3px;
}

.column {
    flex: 1;
    position: relative;
    background-color: white;
    text-align: center;
}

#prado-de-calma {
    background-color: #f4eae0;
}

.column img {
    transition: transform 0.3s ease; /* Transición suave */
    width: 70%;  /* Ajustado para que la imagen ocupe el 80% del ancho de la columna */
    height: auto;
    border-radius: 130px; /* Bordes redondeados en las imágenes */
    display: block;  /* Asegura que no haya espacio debajo de la imagen */
    margin: 5px auto;  /* Centra la imagen en la columna */
}

.column .text-overlay {
    color: #59553f;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}


/* Flecha de descubrimiento */
.discover-more {
    display: flex;
    justify-content: center;  /* Centra el contenido horizontalmente */
    align-items: center;  /* Centra el contenido verticalmente */
    color: #f08c24;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    width: 100%;  /* Asegura que el contenedor tenga todo el ancho disponible */
}

.circle-arrow {
    width: 30px;
    height: 30px;
    background-color: #f08c24;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.circle-arrow span {
    font-size: 18px;
}


.section3 h3{
    margin-top: 80px;
    margin-bottom: 30px;
    font-family: 'Jersey 10';
    font-size: 40px;
    color: #59553f;
    text-align: center;
    letter-spacing: 6px;
}

.section3 p{
    margin-top: 20px;
    font-size: 18px;
    color: #59553f;
    text-align: center;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 50px;
}

.column:hover img {
    transform: scale(0.9); /* Aumenta el tamaño de la imagen al 110% */
}