/* Tercera Sección */
.third-section {
    margin-top: 50px;
    display: flex;
    padding: 40px;
    background-color: #5abed7;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.benefits-left {
    flex: 1;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.benefits-right {
    flex: 1;
    text-align: right; /* Alinea el contenido a la derecha */
}

.benefits-right ul {
    list-style-type: none; /* Quitar los puntos */
    padding: 0;
    text-align: right; /* Asegura que la lista esté alineada a la derecha */
}

.benefits-right li {
    margin-bottom: 10px; /* Separar cada ítem */
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
    margin-left: 180px;
}

.third-section h3{
    font-family: 'Jersey 10';
    font-size: 40px;
    color: #ffffff;
    letter-spacing: 8px;
}