#status-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 5px; 
    background: var(--statusBarBackground);
    color: var(--statusBarLabel);
}

#div-selected-color {
    position: relative;
    border: 1px solid var(--statusBarBorder);
    padding: 5px; 
    display: flex;
    align-items: center;
    gap: 8px;
}

.status-header{
    font-size: 9px; 
    font-weight: bold;
    color: var(--statusBarHeader);
    margin-right: 3px;
}

#label-selected-color-name, #label-selected-color-rgb, #label-selected-color-hex, #label-selected-color-element {
    min-width: 50px; 
    text-align: left; 
    font-size: 10pt;
}




/*
#div-selected-color{
    position: relative;
    float: left;
    width: 16px;
    height: 16px;
    border: 1px solid var(--border);
    margin: 0px 10px 0px 10px;
    display: flex; 
    align-items: center;
    gap: 5px;
}
#status-bar {
    position: relative;
    float: left;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: left;
    align-items: center;
    background: var(--statusBarBackground);
    color: var(--statusBarLabel);
}
.status-header {
    font-size: 8pt;
    font-weight: bold;
    color: var(--statusBarHeader);
    margin-right: 5px;
}
