:root {
    --MilwaukeeBrewers: #ffc52f;
    --Yankees: #132448;

    --BlueJays: #BD3039;
    --RedSox: #0E2B57;

    --Astros: #EB6E1F;
    --Chicago: #000;

    --ChicagoCubs: #CC3433;
    --ColoradoRockies: #34006F;

    --DetroitTigers: #FA4616;
    --Kansas: #004687;

    --Oakland: #003831;
    --Rays: #F5D130;

    --Texas: #003278;
    --Washington: #AB0003;

    --Baltimore: #000;
    --Philadelphia: #002d72;
}