:root {
    --background: #484848;
    --headerBackground: #000;
    --menuItemBackground: #171717;
    --paletteBackground: #171717;
    --border: #000;
    --iconLight: #CFD8DC;
    --iconLightHover: #ECEFF1;

    --menuItemBorder: #888888;
    --menuItemText: #FFF; 

    /* status bar */
    --statusBarBackground: #242424;
    --statusBarHeader: #90A4AE;
    --statusBarLabel: #CFD8DC ;
    --statusBarBorder: #FFF;
}

.blank-element{
    fill: #FFF;
    stroke: var(--border);
    stroke-width: 1px;
}
.shaded-element {
    fill: rgba(128, 128, 128, 0.3); /* Gris transparente */
    pointer-events: none; /* Evita que sea seleccionable o interactivo */
}
.selected-element{
    fill: #FFF;
    stroke: #A5D6A7;
    stroke-width: 3px;
    stroke-dasharray: 10px, 7px;

    /* Efecto de neón */
    filter: drop-shadow(0 0 10px #81C784) drop-shadow(0 0 20px #A5D6A7) drop-shadow(0 0 30px #66BB6A);
    transition: filter 0.3s ease-in-out;
}

